@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --prime-color: #fff;
    --cyan: #73cbd0;
}

body {
    margin: 0;
    font-family: 'Montserrat', 'Helvetica', Arial, sans-serif;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../../resources/fonts/Montserrat-Medium.ttf');
}
